.notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin: auto;
    max-width: 95%;
}

@media (max-width: 600px) {
    .notes{
        flex-direction: column;
    }
}