*{
    outline: none;
}
.text-input{
    max-width: 25rem;
    margin: 15px auto;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.4);
}
.new-note-title{
    font-size: 2rem;
    font-weight: 400;
    padding: 7.5px;
    border: none;
}
.new-note{
    font-size: 1rem;
    padding: 7.5px;
    /* min-height: 4rem; */
    resize: none;
    border: none;
    margin-bottom: 10px;
}
.btn{
    font-size: 2.5rem;
    border-radius: 50%;
    color: white;
    background-color: #f5ba13;
    width: 3rem;
    height: 3rem;
    border: none;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.4);
    cursor: pointer;
}
.btn:hover{
   background-color: gold;
}